<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-9">
        <title>Some Websites</title>
    </head>
    <body>
        {{>header}}
        <p>hi</p>

        {{>footer}}
    </body>
</html>
